<footer class="bg-primary fixed-bottom">
    <div>
        <p id="copyright">&copy; Projet Réservations ICC / EPFC 2019</p>
        <p id="user_condition"><a href="">Conditions d'utilisation</a></p>
    </div>
</footer>