<nav class="navbar bg-light">
    <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ path('artist') }}">Accueil <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Prochains spectacles</a>
          </li>
        {% if app.user %}
          <li class="nav-item">
            <a class="nav-link" href="#">Mon profil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Mes réservations</a>
          </li>
        {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="#">Administration</a>
          </li>
        </ul>
</nav>